/*navbar*/
.navbar{
  background-color: black;
}
li{
  border-right:1px solid #bbb;
}
li:last-child {
  border-right: none;
}
li a:hover {
  background-color: #333  ;
}
a{
  color: white;
}
a:hover{
  color:white;
}

.lead{
  text-align: center;
}

#mainContent {
  /* border: 1px red solid; */
  /* background-color: rgb(255,230,230); */
}

.queueView {
  border: 2px black solid;
  background-color: rgb(230,230,230);
}

.patientWaiting {
  background-color: white;
  margin: 6px;
  padding: 6px;
  border: 2px solid rgb(200,200,200);
}

.patientName {
  font-weight: bold;
}

.highPriority {
  border-left-color: red;
  border-left-width: 6px;
}

.mediumPriority {
  border-left-color: orange;
  border-left-width: 6px;
}

.lowPriority {
  border-left-color: blue;
  border-left-width: 6px;
}

footer{
  background-color: #000000;
  color: white;
  padding-bottom: 4px;
}
