<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reports</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/site.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">OCFR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Registration</a>
        <div class="dropdown-menu">
          <a href="register.html" class="dropdown-item">Members</a>
          <a href="registerCert.html" class="dropdown-item">Certifications</a>
          <a href="assignCert.html" class="dropdown-item">Assign Certifications</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Reporting</a>
        <div class="dropdown-menu">
          <a href="expiredCerts.html" class="dropdown-item">Expired Certifications</a>
          <a href="memberByStation.html" class="dropdown-item">List Members by Station</a>
          <a href="memberByYear.html" class="dropdown-item">List Members by Year</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Detailed View</a>
        <div class="dropdown-menu">
          <a href="certs.html" class="dropdown-item">Certifications</a>
          <a href="members.html" class="dropdown-item">Members</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


  <div class="container" id="expiredCertApp">
    <div class="row">
      <div id="mainContent" class="col-md">

        <p><h4>Certification Filter</h4></p>
        <div class="filter" id="expiredCertApp">
          <select v-model="filter.certificationName">
            <option value=''>(all)</option>
            <option v-for="certification in certifications">{{ certification.certificationName }}</option>
          </select>
        </div>

          <h1>Members with Expired Certificates</h1>
          <table id="expiredCertApp" class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Certification</th>
                <th>Exp. Date</th>
                <th>Name</th>
                <th>Station</th>
                <th>Radio Number</th>
                <th>Email Address</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="certification in certifications" v-if="filter.certificationName=='' || filter.certificationName == certification.certificationName">
               <td>{{ certification.certificationName }}</td>
               <td>{{ certification.certExpDate }}</td>
               <td>{{ certification.firstName }} {{ certification.lastName }}</td>
               <td>{{ certification.stationNumber }}</td>
               <td>{{ certification.radioNumber}}</td>
               <td>{{ certification.email}}</td>
             </tr>
            </tbody>
          </table>
</div>
</div>
</div>




  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/index.js"></script>
  <script src="js/expiredCert.app.js"></script>

</body>
</html>
