<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Page Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/site.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">OCFR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown active">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Registration</a>
        <div class="dropdown-menu">
          <a href="register.html" class="dropdown-item">Members</a>
          <a href="registerCert.html" class="dropdown-item">Certifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="reporting.html">Reporting</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Detailed View</a>
        <div class="dropdown-menu">
          <a href="certs.html" class="dropdown-item">Certifications</a>
          <a href="members.html" class="dropdown-item">Members</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <div id="employeesApp">
      <div class="row"><button type="button" onclick="addRegistration()">Register Firefighter</button></div><br>
    <form id="registration" @submit.prevent="handleCreate" style="display:none">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input class="form-control" id="firstName" placeholder="First Name" v-model="recordemployees.firstName">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input class="form-control" id="lastName" placeholder="Last Name" v-model="recordemployees.lastName">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="cellPhone">Cell Phone Number</label>
          <input class="form-control" id="cellPhone" placeholder="Cell Phone Number" v-model="recordemployees.mobilePhoneNum">
        </div>
        <div class="form-group col-md-6">
          <label for="workPhone">Work Phone Number</label>
          <input class="form-control" id="workPhone" placeholder="Work Phone Number" v-model="recordemployees.workPhoneNum">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="cellPhone">Station Number</label>
          <input class="form-control" id="stationNumber" placeholder="Station Number" v-model="recordemployees.stationNumber">
        </div>
        <div class="form-group col-md-6">
          <label for="radioNumber">Radio Number</label>
          <input class="form-control" id="radioNumber" placeholder="Radio Number" v-model="recordemployees.radioNumber">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" v-model="recordemployees.address">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity" placeholder="City">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Georgia</option>
            <option>Alabama</option>
            <option>Florida</option>
            <option>Mississippi</option>
            <option>South Carolina</option>
            <option>Tennessee</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip" placeholder="Zip">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Complete Registration</button><br><br>
    </form>

          </br>
          <h1>Volunteers</h1>
            <table class="table table-sm table-hover" id="employeesApp">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Cell Phone</th>
                  <th>Work Phone</th>
                </tr>
              </thead>
              <tbody>

                <tr v-for="e in employees" @click="handleRowClick(e)">
                  <td>{{ e.firstName }}</td>
                  <td>{{ e.lastName }}</td>
                  <td>{{ e.mobilePhoneNum }}</td>
                  <td>{{ e.workPhoneNum }}</td>
                  <td><input type='button'  value='Delete'></td>
                </tr>
              </tbody>
            </table>
            </div>
          </br>
          </br>
          <div id="employeesEditApp" >
            <form id="editRegistration" @submit.prevent="handleSubmit">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstName">First Name</label>
                  <input class="form-control" id="firstName" placeholder="First Name" v-model="employeeData.firstName">
                </div>
                <div class="form-group col-md-6">
                  <label for="lastName">Last Name</label>
                  <input class="form-control" id="lastName" placeholder="Last Name" v-model="employeeData.lastName">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="cellPhone">Cell Phone Number</label>
                  <input class="form-control" id="cellPhone" placeholder="Cell Phone Number" v-model="employeeData.mobilePhoneNum">
                </div>
                <div class="form-group col-md-6">
                  <label for="workPhone">Work Phone Number</label>
                  <input class="form-control" id="workPhone" placeholder="Work Phone Number" v-model="employeeData.workPhoneNum">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="cellPhone">Station Number</label>
                  <input class="form-control" id="stationNumber" placeholder="Station Number" v-model="employeeData.stationNumber">
                </div>
                <div class="form-group col-md-6">
                  <label for="radioNumber">Radio Number</label>
                  <input class="form-control" id="radioNumber" placeholder="Radio Number" v-model="employeeData.radioNumber">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" v-model="employeeData.address">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity" placeholder="City">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select id="inputState" class="form-control">
                    <option selected>Georgia</option>
                    <option>Alabama</option>
                    <option>Florida</option>
                    <option>Mississippi</option>
                    <option>South Carolina</option>
                    <option>Tennessee</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip</label>
                  <input type="text" class="form-control" id="inputZip" placeholder="Zip">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Edit Registration</button><br><br>
            </form>
        </div>

</div>


          <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
          <script src="js/index.js"></script>
          <script src="js/members.app.js"></script>
          <script src="js/editMembers.app.js"></script>
</body>
</html>
